.formularioPostulaciones {
    margin-top: 55rem;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 0.81rem;
    font-weight: bold;
    margin-bottom: 1rem;
    max-width: 90%;
    margin:0 auto;
    color:darkslategrey
}