.formularioPostulaciones {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 0.81rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color:darkslategrey
}