<div
  style="width: 100vw; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center">
  <div [formGroup]="formulario" style="width: 100vw; height: 100vh; display: flex; flex-direction=column;
    justify-content: center; align-items: center">
    
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" placeholder="Lucho Perez">
     
      <div *ngIf="formulario.get('nombre').invalid && formulario.get('nombre').touched">
        <mat-error *ngIf="formulario.get('nombre').errors['required']">El nombre es requerido</mat-error>
      </div>
    </mat-form-field>

    <p>{{ formulario.get('nombre')?.value }}</p>
    
    <mat-form-field appearance="fill">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="correo" placeholder="correo@email.com">
     
      <div *ngIf="formulario.get('correo').invalid && formulario.get('correo').touched">
        <mat-error *ngIf="formulario.get('correo').errors['required']">El correo es requerido</mat-error>
        <mat-error *ngIf="formulario.get('correo').errors['correo']">El correo no es valido</mat-error>
      </div>
    </mat-form-field>
    
      <p>{{ formulario.get('correo')?.value }}</p>
    
    <mat-form-field appearance="fill">
      <input matInput formControlName="ciudad">
      <div *ngIf="formulario.get('ciudad').invalid && formulario.get('ciudad').touched">
        <mat-error *ngIf="formulario.get('ciudad').errors['required']">La ciudad es requerida</mat-error>
      </div>
    </mat-form-field>
      
    <p>{{ formulario.get('ciudad')?.value }}</p>
    
    <mat-form-field appearance="fill">
      <input matInput formControlName="calle">
      <div *ngIf="formulario.get('calle').invalid && formulario.get('calle').touched">
        <mat-error *ngIf="formulario.get('calle').errors['required']">La calle es requerida</mat-error>
      </div>
    </mat-form-field>

      <p>{{ formulario.get('calle')?.value }}</p>
    
    <mat-form-field appearance="fill">
      <input matInput formControlName="numero">
      <div *ngIf="formulario.get('numero').invalid && formulario.get('numero').touched">
        <mat-error *ngIf="formulario.get('numero').errors['required']">El número es requerido</mat-error>
        <mat-error *ngIf="formulario.get('numero').errors['pattern']">Por favor ingrese un número valido</mat-error>
      </div>
    </mat-form-field>

      <p>{{ formulario.get('numero')?.value }}</p>
    
    <mat-form-field appearance="fill">
      <input matInput formControlName="telefono">
      <div *ngIf="formulario.get('telefono').invalid && formulario.get('telefono').touched">
        <mat-error *ngIf="formulario.get('telefono').errors['required']">El número de teléfono es requerido</mat-error>
        <mat-error *ngIf="formulario.get('telefono').errors['pattern']">Por favor ingrese un número valido</mat-error>
      </div>
    </mat-form-field>

      <p>{{ formulario.get('telefono')?.value }}</p>
    
    <mat-form-field appearance="fill">
      <input matInput formControlName="postulacion">
      <div *ngIf="formulario.get('postulacion').invalid && formulario.get('postulacion').touched">
        <mat-error *ngIf="formulario.get('postulacion').errors['required']">La postulación es requerida</mat-error>
      </div>
    </mat-form-field>
      <br/>
    <mat-form-field appearance="fill">
      <button mat-raised-button color="primary" (click)="enviarFormulario()" [disabled]="formulario.invalid">Enviar</button>
    </mat-form-field>

  </div>
</div>